@{
}

<html>
<head>
    <title>Cold Subject</title>
</head>
<body>
    <h2>Welcome to Cold Subject!</h2>
    <p>@Html.ActionLink("View all our amazing products", "Index", "Products")</p>
</body>
</html>